@import url('./vendor/fonts/fonts.css');

:root {
	font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: normal;
	font-weight: 400;
	background-color: #ffffff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	max-width: 1440px;
	margin: 0 auto;
	padding: 30px 40px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

body {
	display: flex;
	position: relative;
	min-width: 320px;
	min-height: 100vh;
}
